import lombok.Data;

public class App {

    public void test() {
        Foo foo = new Foo();
        <spot>foo.setTestInt();
        foo.setTestLong();
        foo.setTestFloat();
        foo.setTestDouble();
        foo.setTestBoolean();</spot>
    }

}

@Data
class Foo {

    private Integer testInt;

    private Long testLong;

    private Float testFloat;

    private Double testDouble;

    private Boolean testBoolean;

}