import lombok.Data;

public class App {

    public void test() {
        Foo foo = new Foo();
        <spot>foo.setTestInt(0);
        foo.setTestLong(0L);
        foo.setTestFloat(0f);
        foo.setTestDouble(0D);
        foo.setTestBoolean(false);</spot>
    }

}

@Data
class Foo {

    private Integer testInt;

    private Long testLong;

    private Float testFloat;

    private Double testDouble;

    private Boolean testBoolean;

}