import lombok.Builder;
import lombok.Data;

public class App {

    public void test() {
        <spot>Foo.builder()</spot>$key
    }

}

@Builder
@Data
class Foo {

    private Integer testInt;

    private Long testLong;

    private Float testFloat;

    private Double testDouble;

    private Boolean testBoolean;

}